*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial,sans-serif
}

.full-width{
    width: 100%;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* nav start */
.nav{
    background-color: black;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    width: 50%;
    float: left;
    line-height: 40px;
    padding-left: 30px;
}
.logo>a{
    color: #fff;
    font-weight: bold;
}

.menu{
    width: 50%;
    float: right;
    padding-right: 30px;
    text-align: right;
}

.menu>a{
    color: #aaa;
    line-height: 40px;
    transition: all 0.3s;   /* 此 css 樣式全部套用轉場效果（如果根源設定不同時） */
}

.menu a:hover{
    color: #fff;
    transition: all 0.3s;
}

.menu>a>i{
    margin-right: 5px;
}

/* banner start */
.banner{
    margin-top: 40px;
}

.banner .overlay{
    padding: 200px 0;
    background-color: #666;
    text-align: center;
}

.banner h1{
    color: #fff;
    font-size: 4.5em;
    font-weight: normal;
    text-transform: uppercase;
}

.banner h5{
    color: #aaa;
    font-size: 1.4em;
    width: 800px;
    font-weight: normal;
    margin: 0 auto;
    line-height: 1.8em;
}

/* sem start */
.sem{
    text-align: center;
    background-color: #eee;
    padding: 70px 0;
}

h2{
    font-size: 2em;
    font-weight: normal;
}

p.subtitle{
    width: 75%;
    margin: 0 auto;
    line-height: 1.8em;
}

.sem_item{
    width: 33.3%;
    padding: 40px;
    float: left;
}

.card{
    background-color: #fff;
    border-radius: 12px;
    padding: 40px;
}

.card i{
    font-size: 4.5em;
    margin-top: 30px;
    color: #a11;
}

.card h3{
    font-weight: normal;
    margin-top: 30px;
}

.card p{
    font-size: 0.9em;
    padding-bottom: 30px;
}

/* banner B */
.bannerb{
    background: #333 url('../img/unsplash.jpg') center bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

.bannerb .overlay{
    padding: 120px 0;
    background-color: rgba(250, 0, 0, 0.5);
}